
/**
 * Dylan Cross ID 15219491
 * Jordan Felix ID 15152699
 * Thomas Sloman ID 15078758
 */

body {
    background-color: lightgrey;
    margin: 2%;
}
#createMyUser {
    width: 150px; height: 390px; padding: 5px;

}
.createaccounttext {
    width: 300px;
}

.error {
    color: red;
}

#logout {
    float:right;
}